/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/spec/reports/
/tmp/

log/*.log
pkg/
.DS_Store
.rvmrc
.idea

Gemfile.lock
.ruby-version
.ruby-gemset
gemfiles/*.lock
*.gem

# rspec failure tracking
.rspec_status
